/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
  color: #202122;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  background: #eee;
}
button:hover {
  background: #ddd;
}
button:active {
  background: #ddd;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background: #fafaff;
  font-size: 24px;
}

#game {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

/* ################################ */
/* scenes */

div.scene, div.cover {
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}
div.scene.hidden, div.cover.hidden {
  display: none;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
#scene-menu, #scene-quiz {
  animation: fade 300ms;
}

/* ################################ */
/* menu */

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

/* ################################ */
/* quiz */

#hud {
  position: absolute;
  top: 15px; left: 15px; right: 15px; height: 40px;
}
#score {
  display: inline-block;
  width: 45px;
  text-align: center;
  background: black;
  color: white;
  line-height: 40px;
}
#qtype {
  display: inline-block;
  line-height: 40px;
}
#menu-button {
  position: absolute;
  top: 0; right: 0;
  padding: .2rem 1rem;
}

#screen {
  position: absolute;
  top: 75px; left: 15px; right: 15px; bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#screen .beeg {
  font-size: 4rem;
}
