/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

.centerize, .answer-letter, .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  box-sizing: content-box;
  border-radius: 10px;
  color: white;
  text-align: center;
  border-bottom: 5px solid #17B;
  background-color: #39D;
}
.btn:active {
  transform: translate(0, 5px);
  border-bottom: none;
}
.btn.btn-bottom:active {
  transform: none;
}
.btn.xxx {
  background-color: #DDD !important;
  border-color: #BBB !important;
}
.btn.xxx:active {
  transform: none !important;
  border-bottom: 5px solid #BBB !important;
}
.btn.btn-red {
  background-color: #C33;
  border-bottom-color: #A11;
}
.btn.btn-green {
  background-color: #3C3;
  border-bottom-color: #1A1;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: #112;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#game {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

/* ################################ */
/* scenes */

div.scene, div.cover {
  display: none;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
#scene-menu, #scene-quiz {
  animation: fade 500ms;
}

/* ################################ */
/* preload scene */

#scene-preload {
  color: white;
}

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* menu scene */

#scene-menu {
  background-color: #f4eeff;
}

#pane-title {
  position: absolute;
  top: 40px; left: 10px; right: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#pane-start {
  position: absolute;
  top: 600px; left: 10px; right: 10px;
}

#start-button {
  width: 200px;
  height: 60px;
  font-size: 32px;
}

/* ################################ */
/* quiz scene */

#scene-quiz {
  background-color: #f4eeff;
}

#pane-hud {
  position: absolute;
  left: 15px; right: 15px;
  top: 15px; height: 50px;
}
#hud-menu {
  position: absolute;
  right: 0; width: 80px;
  top: 0; height: 45px;
}
#hud-score {
  display: inline-block;
  width: 45px;
  text-align: center;
}
#hud-misses {
  display: inline-block;
  width: 45px;
  text-align: center;
}
#hud-score.flashing {
  color: #0B0;
}
#hud-misses.flashing {
  color: #C00;
}
.hud-label {
  font-size: 50%;
}
#hud-qtype {
  display: inline-block;
  margin-left: 10px;
}

#pane-screen {
  position: absolute;
  background: brown;
  left: 15px; right: 15px;
  top: 75px; height: 345px;
}

#screen {
  position: absolute;
  background: white;
  left: 10px; right: 10px;
  top: 10px; bottom: 10px;
}

#pane-keyboard {
  position: absolute;
  left: 10px; right: 10px;
  top: 430px;
  text-align: center;
}
.key-row {
  display: flex;
  justify-content: space-between;
}
.key {
  margin: 2px 2px;
  width: 64px; height: 55px;
  font-size: 36px;
}
