/* ################################ */
/* reset */

* {
  box-sizing: border-box;
  user-select: none;
}

html, button {
  font-family: 'Roboto Mono', monospace;
}

button {
  cursor: pointer;
}

/* ################################ */
/* scene */

html {
  height: 100%;
  touch-action: manipulation;
  font-size: 30px;
}

body {
  margin: 0;
  height: 100%;
  background: white;
  color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  padding: 15px;
}

article {
  flex-grow: 1;
}

/* ################################ */
/* header */

header {
  font-size: 0.6rem;
}

/* ################################ */
/* question and answer */

#question-type, #answer-type {
  display: inline-block;
  background: #424242;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 1rem 0 .3rem;
  padding: 3px 8px;
  border-radius: 5px;
}

#question, #answer, #gold-answer {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gold-answer {
  color: #e55;
}

#question .sep, #answer .sep, #gold-answer .sep {
  margin: 0 .6rem;
}

/* ################################ */
/* keyboard */

footer button {
  font-size: 1rem;
}

.keyboard button {
  width: 2.5rem;
  height: 2.5rem;
}

.keyboard.alphabet button {
  width: 1.6rem;
  height: 1.6rem;
}

.special-buttons button {
  height: 1.8rem;
  padding: 0 15px;
}

/* ################################ */
/* braille */

.braille-wrapper {
  display: grid;
  grid: 50px 50px 50px / 50px 50px;
  align-items: center;
  justify-items: center;
  margin: 0 15px;
}

.braille-wrapper > button {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #424242;
}

.braille-wrapper > button.off {
  background: white;
}

.braille-wrapper > button.on {
  background: #424242;
}

#question.braille, #gold-answer.braille {
  font-size: 1.5rem;
}

/* ################################ */
/* semaphore */

.semaphore-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 10px;
}

.semaphore-wrapper > button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #424242;
}

.semaphore-wrapper > button.off {
  background: transparent;
}

.semaphore-wrapper > button.on {
  background: #42424280;
}

.semaphore-wrapper > button.flag-1 { left: 0; top: 90px; }
.semaphore-wrapper > button.flag-2 { left: 0; top: 45px; }
.semaphore-wrapper > button.flag-3 { left: 0; top: 0; }
.semaphore-wrapper > button.flag-4 { left: 45px; top: 0; }
.semaphore-wrapper > button.flag-5 { left: 90px; top: 0; }
.semaphore-wrapper > button.flag-6 { left: 90px; top: 45px; }
.semaphore-wrapper > button.flag-7 { left: 90px; top: 90px; }

#gold-answer .semaphore-wrapper .person {
  fill: red;
}
